<div class="pb-5">
<div class="box hover:scale-105 transition-all duration-500 cursor-pointer 
flex flex-col items-center overflow-hidden w-[10rem] mx-3 bg-white">

    <div class="h-[13rem] w-full">
        <img class="object-cover object-top w-full h-full" [src]="product.imageUrl" alt="">
    </div>
    <div class="p-4">
        <h3 class="font-medium text-gray-500 text-sm line-clamp-1">{{product.brand}}</h3>
        <p class="mt-2 text-white-500 line-clamp-2">{{product.title}}</p>
    </div>
</div>
</div>