<div>

    <main class="px-4 sm:px-6 pb-10">

        <!-- First Row -->
        <div class="flex items-baseline justify-between border-gray-200 pt-10">

            <h1 class="text-4xl font-bold text-black">Products</h1>
            <div class="flex items-center">

                <button mat-button [matMenuTriggerFor]="sortMenu">Sort</button>
                <mat-menu #sortMenu="matMenu">
                    <button (click)="handleSingleSelectFilter('price_high','sort')" mat-menu-item>Price: high-low </button>
                    <button (click)="handleSingleSelectFilter('price_low','sort')" mat-menu-item>Price: low-high</button>
                </mat-menu>

            </div>

        </div>
        <mat-divider> </mat-divider>
        <!-- Second Row -->
        <section class="pt-8">
            <div class="grid grid-cols-1 gap-8 gap-y-10 lg:grid-cols-5">

                <!-- Filters -->
                <div class="">

                    <div class="bg-white pt-5 pl-5 pr-5">
                    <div class="flex items-center justify-between">
                        <p class="text-lg">Filters</p>
                        <div>
                            <mat-icon>filter_list</mat-icon>
                        </div>
                       
                    </div>
                    <!-- Form -->
                    <form class="hidden lg:block">

                        <!-- Check Box -->
                        <div *ngFor="let item of filterData, let last = last">

                            <div class="py-6">

                                <span class="font-medium">{{item.name}}</span>
                                <div class="pt-6" id="filter-section-0">

                                    <div class="scroll-py-4">

                                        <div *ngFor="let option of item.options">

                                            <div class="flex items-center">
                                                <mat-checkbox id="'filter - '+option.value" [name]="item.id"
                                                    [value]="option.value"
                                                    (click)="handleMultipleSelectFilter(option.value , item.id)"
                                                    color="primary">
                                                    <span class="text-sm text-gray-950">{{option.label}}</span>
                                                </mat-checkbox>
                                            </div>

                                        </div>

                                    </div>

                                </div>

                            </div>
                            <mat-divider *ngIf="!last"> </mat-divider>

                        </div>
                        <mat-divider></mat-divider>
                        <!-- Radio Button -->
                        <div *ngFor="let item of singleFilterData, let last = last">

                            <div class="py-6">

                                <span class="font-medium">{{item.name}}</span>
                                <div class="pt-6" id="filter-section-0">

                                    <div class="scroll-py-4">

                                        <div *ngFor="let option of item.options">

                                            <div class="flex items-center">
                                                <mat-radio-button 
                                                id="'filter - '+option.value" 
                                                [name]="item.id"
                                                [value]="option.value"
                                                (click)="handleSingleSelectFilter(option.value , item.id)"
                                                color="primary">
                                                    <span class="text-sm text-gray-950">{{option.label}}</span>
                                                </mat-radio-button>
                                            </div>

                                        </div>

                                    </div>

                                </div>

                            </div>
                            <mat-divider *ngIf="!last"> </mat-divider>

                        </div>

                    </form>

                </div>
                </div>

                <!-- Products -->
                <div class="lg:col-span-4 bg-white pt-1 pb-1">
                    
                    <div class="flex flex-wrap justify-evenly">

                        <ng-container *ngFor="let item of products">

                            <app-product-card [product]="item"/>

                        </ng-container>

                    </div>
                    
                </div>

            </div>

        </section>

    </main>

</div>