<div class="p-5 box">

    <div class="flex items-center">

        <div class="w-[5rem] h-[5rem] lg:w-[9rem] lg:h-[9rem]">

            <img class="w-full h-full object-cover object-top"
                [src]="cartItem.product.imageUrl"
                alt="">

        </div>

        <div class="ml-5 space-y-1">
            <p class="font-medium text-[16px]">{{cartItem.product.title}}</p>
            <p class="textGray">Size: {{cartItem.size}} | Color: {{cartItem.product.color}}</p>
            <p class="textGray">Seller : {{cartItem.product.brand}}</p>

            <div class="flex space-x-2 items-center pt-3">

                <p class="textGray line-through textGray-[14px]">₹{{cartItem.product.price}}</p>
                <p class="font-medium text-[18px]">₹{{cartItem.discountedPrice}}</p>
                <p class="text-[#388e3c] font-medium text-[14px]">{{cartItem.product.discountPercent}}%</p>

            </div>
        </div>

    </div>

    <div class="flex items-center lg:space-x-10 pt-4 justify-between">

        <div class="flex items-center space-x-2 ">
    
            <div class="example-button-container">
    
                <button class="roundedButton hover:scale-105" (click)="updateCartItem(-1)" 
                [disabled]="cartItem.quantity==1"><mat-icon>remove</mat-icon></button>
    
            </div>
    
            <span class="py-1 px-7 border border-[#c2c2c2] rounded-sm">{{cartItem.quantity}}</span>
    
            <div class="example-button-container">
    
                <button class="roundedButton hover:scale-105" (click)="updateCartItem(1)" [disabled]="false">
    
                    <mat-icon>add</mat-icon>
    
                </button>
    
            </div>
    
        </div>
    
        <button class="hover:scale-110" mat-stroked-button (click)="removeCartItem()">Remove</button>
    
    </div>
</div>

