<div class="container">

    <div class="grid grid-cols-12 gap-3">

        <!-- image -->
        <div class="col-span-3 lg:col-span-1">

            <div class="h-[2.5rem] w-[2.5rem]">

                <img class="w-full h-full rounded-full"
                    src="https://yt3.googleusercontent.com/cT40lDWqE99Ch52R3ftuAExjmjF-yZiY5rUSv_0Q3NXhcqzmiax8ReXuS4Qe53Fizcaw4hEX=s176-c-k-c0x00ffffff-no-rj"
                    alt="">

            </div>


        </div>
        <!-- Details -->
        <div class="col-span-6 lg:col-span-11">

            <div class="space-y-2">

                <div>

                    <div class="flex justify-between">

                        <p class="font-semibold text-lg">Jeel Khant</p>
                        <app-star-rating />

                    </div>

                    <p class="opacity-70">March 25, 2024</p>

                </div>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem dolor eaque nobis neque suscipit vitae repellendus laudantium et est, esse voluptas at tempore repudiandae voluptatibus beatae accusamus, dicta ipsa! Obcaecati?</p>

            </div>

        </div>

    </div>

</div>