
<div class="container">
    <form [formGroup] = "loginForm" (ngSubmit)="submitForm()">

        <h1>Flipkart</h1>
        <div>
            <mat-form-field class="w-full">
                <mat-label>First Name</mat-label>
                <input matInput formControlName="firstName" required firstName>
                <mat-error *ngIf="loginForm.controls['firstName'].hasError('required')">First Name is required</mat-error>
            </mat-form-field>
            <mat-form-field class="w-full">
                <mat-label>Last Name</mat-label>
                <input matInput formControlName="lastName" required lastName>
                <mat-error *ngIf="loginForm.controls['lastName'].hasError('required')">Last Name is required</mat-error>
            </mat-form-field>
            <mat-form-field class="w-full">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" required email>
                <mat-error *ngIf="loginForm.controls['email'].hasError('required')">Email is required</mat-error>
                <mat-error *ngIf="loginForm.controls['email'].hasError('email')">Invalid Email</mat-error>
            </mat-form-field>
            <mat-form-field class="w-full">
                <mat-label>Password</mat-label>
                <input matInput formControlName="password" required password>
                <mat-error *ngIf="loginForm.controls['password'].hasError('required')">Password is required</mat-error>
                <mat-error *ngIf="loginForm.controls['password'].hasError('minlength')">Password should be at least 8 characters long</mat-error>
            </mat-form-field>
        </div>
        <div>
            <button style="padding: 1.7rem;color: white;" class="w-full matBgColor text-lg">Ragister</button>
        </div>
        <div class="pt-5">
            <span>Already have an account?   </span>
            <button class="text-[#2874F0]" (click)="changeTemplate()">Login</button>
        </div>
    </form>
</div>
