
<div class="bg-[#212121] mt-10 text-white text-center px-5 lg:px-20">
    <div class="container">
        <!-- Sections -->
        <div class="py-3 flex justify-around">

            <div class="px-4">
                <h2 class="px-5">Company</h2>
                <p class="mb-2 text-[#999999]">About</p>
                <p class="mb-2 text-[#999999]">Blog</p>
                <p class="mb-2 text-[#999999]">Jobs</p>
                <p class="mb-2 text-[#999999]">Press</p>
                <p class="mb-2 text-[#999999]">Partners</p>

            </div>

            <div class="px-4">
                <h2 class="px-5 ">Solutions</h2>
                <p class="mb-2 text-[#999999]">Marketing</p>
                <p class="mb-2 text-[#999999]">Analytics</p>
                <p class="mb-2 text-[#999999]">Commerce</p>
                <p class="mb-2 text-[#999999]">Insignts</p>
                <p class="mb-2 text-[#999999]">Support</p>

            </div>

            <div class="px-4">
                <h2 class="px-5">Documentations</h2>
                <p class="mb-2 text-[#999999]">Guides</p>
                <p class="mb-2 text-[#999999]">Api</p>
            </div>

        </div>

        <!-- Copyright -->
        <div class="flex flex-col pt-10 text-center">
            <p>&copy; 2024 TechSpine. All rights received.</p>
            <p>Created by Jeel Khant</p>
        </div>

    </div>

</div>
