<div class="mt-6">
   <div>
      <app-home-carousel />
   </div>
   <div>
      <div class="mr-5 ml-5 mt-5 bg-[#ffffff]">
         <app-product-slider title="Women's Gouns" [products]="womengouns" />
      </div>
      <div class="mr-5 ml-5 mt-5 bg-[#ffffff]">
         <app-product-slider title="Women's Tops" [products]="womenTop" />
      </div>
      <div class="mr-5 ml-5 mt-5 bg-[#ffffff]">
         <app-product-slider title="Men's Jeans" [products]="menJeans" />
      </div>
      <div class="mr-5 ml-5 mt-5 bg-[#ffffff]">
         <app-product-slider title="Man's Kurta" [products]="menKurtas" />
      </div>
      <div class="mr-5 ml-5 mt-5 bg-[#ffffff]">
         <app-product-slider title="Men's Shoes" [products]="shoes" />
      </div>

   </div>
</div>