<div class="container mx-auto p-4">
    <div class="bg-white shadow-md p-6">
        <h1 class="text-2xl font-bold mb-4 text-center">Order Summary</h1>
        <div class="flex justify-around">
            <div class="mb-4">
                <h2 class="text-lg font-semibold">Order Address</h2>
                <p class="textGray">{{ orderItems.shippingAddress.firstName }} {{ orderItems.shippingAddress.lastName }}</p>
                <p class="textGray" *ngIf="orderItems.shippingAddress.streetAddress">{{ orderItems.shippingAddress.streetAddress}}</p>
                <p class="textGray">{{ orderItems.shippingAddress.city }}, {{ orderItems.shippingAddress.state }} {{
                    orderItems.shippingAddress.zipCode }}</p>
                <p class="textGray">Mobile: {{ orderItems.shippingAddress.mobile }}</p>
            </div>

            <div class="mb-4">
                <h2 class="text-lg font-semibold">orderItems Details</h2>
                <p class="textGray">Order Date: {{ orderItems.orderDate }}</p>
                <p class="textGray">Delivery Date: {{ orderItems.deliveryDate }}</p>
                <p class="textGray">Total Price: ₹{{ orderItems.totalDiscountedPrice }}</p>
                <p class="textGray">Order Status: {{ orderItems.orderStatus }}</p>
                <p class="textGray">Total Items: {{ orderItems.totalItem }}</p>
            </div>

        </div>
    </div>
</div>
