<div class="box bg-white"> 

    <div class="grid grid-cols-6 py-3 justify-between">

        <div class="col-span-3 pl-5">

            <div class="flex w-full items-center">

                <img 
                class="w-[6rem] h-[6rem] object-cover object-top "
                src="https://rukminim1.flixcart.com/image/612/612/kw5ag7k0/kurta/f/j/g/xxl-sg1011-sanganeri-feb-original-imag8w9xbbakjkju.jpeg?q=70" alt="">
    
                <div class="ml-5 justify-between">
    
                    <p class="font-medium text-lg">Product Title</p>
                    <p class="text-sm textGray">Size: M</p>
                    <span class="text-sm textGray">Color: Blue</span>
    
                </div>
    
            </div> 

        </div>

        <div class="col-span-1">

            <p class="font-medium text-lg">₹599</p>
            
        </div>

        <div class="col-span-2 pr-5">

            <p class="font-medium text-lg">Expected Delivery On Mar 03, 2024</p>
            <p class="text-sm">Your Order Has Been Delivered</p>

        </div>

    </div>

</div>
